/* Universal Style */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* Common Style */
.headingTwo__Common {
}
.Coomon__btn {
}
/* Header Section Style */
header {
  /* padding top / left and right / bottom */
  padding: 30px 120px 20px;
  background-color: rgba(255, 144, 14, 0.1);
}
.Header__Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.Header-Title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.Header-Nav-Main {
  display: flex;
  gap: 30px;
}
.Header-Nav-Main > a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  text-decoration: none;
}
/* Website Main Contant Style */
.Web__Main__Con {
  /* padding top / left and right / bottom */
  padding: 0px 180px 20px;
}
/* Upper Title Section Style */
.Title__Section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Title__Section__Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.Title__Section-Title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #131313;
}
.Title__Section-Para {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
}
.Title__Section-Btn {
  width: 180px;
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  /*  */
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.Title__Section__DivImg {
  width: 100%;
  object-fit: cover;
}
.Title__Section-Img {
  width: 100%;
}
/* Quick list Image 4 and text Style */
.Quick__list {
  /* padding top / left and right / bottom */
  padding: 100px 30px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Quick__list-ImgMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Quick__list-ImgDiv {
  /* background-color: aqua; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  width: 300px;
  height: 342px;
}
.Quick__list-Img {
  width: 100%;
}
.Quick__list-TitleMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 10px;
}
.Quick__list-Title {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}
#Of-our {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
#Features {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #ff900e;
}
.Quick__list-Para {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
/* Website Features Section Style */
.Features__Sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Features__Sec-DivMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 25px;
}
.Features__Sec-Title {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.Features__Sec-Para {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.Features__Sec-LTitle {
  padding-left: 20px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}
.Features__Sec-LPara {
  padding-left: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.Features__Sec-DivImg {
  height: 100%;
}
.Features__Sec-Img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.Features__Sec-Btn {
  width: 200px;
  height: 100px;
  border: none;
  background: #ff900e;
  border-radius: 8px;
  transform: translate(-20px, -130px);
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}
#Experience {
  font-size: 15px;
}
/* bonush section */
.Bon__Sec__mainMAin {
  padding-top: 50px;
}
.Bon__Sec__main {
  background-image: linear-gradient(
      to bottom,
      rgba(84, 85, 92, 0.52),
      rgba(236, 184, 223, 0.73)
    ),
    url("../g3-architects/images/team2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 20px;
  color: white;
}
.Bon__Sec-Para {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 35px;
}
.Bon__Sec-Para_Span {
  font-size: 15px;
  color: rgb(0, 217, 255);
}
.Bon__Sec-heading {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
}
.Bon__Sec-Arrow-two {
  display: flex;
  gap: 40px;
}
.Bon__Sec-Arrow-two > i {
  color: rgb(7, 44, 51);
  font-size: 30px;
}
.bon__lower-pra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Bon__Sec-Paratwo {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 25px;
  color: #000;
}
.Bon__Sec-Parathree {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  display: flex;
  gap: 10px;
  color: #000;
  transform: translate(0px, 70px);
}
.Bon__Sec-Parathree > i {
  color: rgb(0, 217, 255);
}
/* Website Some Fact Sec Style */
.Some__Sec {
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Some__Title-Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Some__Title-Title {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.Some__Title-Para {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.Some__Box-Main-boss {
  padding: 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.Some__Box-Main {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Some__Box-Title {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}
.Some__Box-Para {
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/* Website Sponsor Section Style */
.Sponsor__Sec {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.Sponsor__Sec-Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.Sponsor__Main-Title {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.Sponsor__Main-Para {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.Sponsor__Sec-ImgDiv {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.Sponsor__sec_ImgI i {
  font-size: 50px;
}
/* box Hover Effect */
.Some__Box-Main:hover {
  background-color: #7abd8b;
}
.Some__Box-Main:hover .Some__Box-Title {
  color: rgb(255, 255, 255);
}
.Some__Box-Main:hover .Some__Box-Para {
  color: rgb(255, 255, 255);
}
/* Website Footer Section sTyle */
footer {
  padding: 0px 180px 20px;
}
.Footer__Main-Div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: #fff4e7;
}
.Footer__Para {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #424242;
}
